<div>
  <link href="./article.css" rel="stylesheet" />
  <section class="article-card">
    <main class="article-content">
      <header class="article-header">
        <h1 class="article-header1"><span>TechCrunch</span></h1>
      </header>
      <p class="article-description">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </span>
      </p>
      <div class="article-button">
        <a href target="_blank" rel="noreferrer noopener" class="article-link">
          <p class="article-text"><span>Read -></span></p>
        </a>
      </div>
    </main>
  </section>
</div>
