<div>
  <link href="./card1.css" rel="stylesheet" />
  <section class="card1-card">
    <div class="card1-icon">
      <img
        alt="image"
        src="public/Icons/group%201316-200w.png"
        class="card1-icon1"
      />
      <svg viewBox="0 0 1024 1024" class="card1-icon2">
        <path d="M864 128l-480 480-224-224-160 160 384 384 640-640z"></path>
      </svg>
    </div>
    <main class="card1-content">
      <h1 class="card1-header"><span>Swift Appointments</span></h1>
      <p class="card1-description">
        <span>
          Need assistance fast? Tech Care offers swift appointments, allowing
          you to quickly and easily schedule a consultation with our expert
          technicians.
        </span>
      </p>
    </main>
  </section>
</div>
