<div>
  <link href="./faq.css" rel="stylesheet" />
  <div class="faq-accordion">
    <div data-role="accordion-container" class="faq-element accordion-element">
      <div class="faq-details">
        <span class="faq-text">
          What is sit amet, consectetur adipiscing elit, sed do?
        </span>
        <span data-role="accordion-content" class="faq-text01">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element1 accordion-element">
      <div class="faq-details1">
        <span class="faq-text02">
          We&apos;ll update amet, consectetur adipiscing elit until you&apos;re
          100% happy.
        </span>
        <span data-role="accordion-content" class="faq-text03">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon02">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element2 accordion-element">
      <div class="faq-details2">
        <span class="faq-text04">
          Is it really sit amet, consectetur adipiscing elit, sed do?
        </span>
        <span data-role="accordion-content" class="faq-text05">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon04">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element3 accordion-element">
      <div class="faq-details3">
        <span class="faq-text06">
          We work, what is sit amet, consectetur adipiscing elit, sed do sint
          occaecat cupidatat non proident
        </span>
        <span data-role="accordion-content" class="faq-text07">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon06">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element4 accordion-element">
      <div class="faq-details4">
        <span class="faq-text08">
          What is sit amet, consectetur adipiscing elit, sed do?
        </span>
        <span data-role="accordion-content" class="faq-text09">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon08">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element5 accordion-element">
      <div class="faq-details5">
        <span class="faq-text10">
          Amet, consectetur adipiscing elit mollit anim id est laborum.
        </span>
        <span data-role="accordion-content" class="faq-text11">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon10">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
