<div>
  <link href="./p031-discountontheir-next-service.css" rel="stylesheet" />
  <div class="p031-discountontheir-next-service-mark">
    <div class="p031-discountontheir-next-service-icon">
      <svg
        viewBox="0 0 1024 1024"
        class="p031-discountontheir-next-service-icon1"
      >
        <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
      </svg>
    </div>
    <label class="p031-discountontheir-next-service-label">
      <span>10% Discount on their Next Service.</span>
    </label>
  </div>
</div>
