<div>
  <link href="./p1-improved-security.css" rel="stylesheet" />
  <div class="p1-improved-security-mark">
    <div class="p1-improved-security-icon">
      <svg viewBox="0 0 1024 1024" class="p1-improved-security-icon1">
        <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
      </svg>
    </div>
    <label class="p1-improved-security-label">
      <span>
        Improved Security by Addressing Security Vulnerabilities against Cyber
        Threats.
      </span>
    </label>
  </div>
</div>
