<div>
  <link href="./review2.css" rel="stylesheet" />
  <section class="review2-card">
    <div class="review2-stars">
      <svg viewBox="0 0 1024 1024" class="review2-icon">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review2-icon02">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review2-icon04">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review2-icon06">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review2-icon08">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path>
      </svg>
    </div>
    <main class="review2-content">
      <p class="review2-quote">
        <span>
          "Tech Care is the best! They offer competitive pricing, fast service,
          and most importantly, they get the job done right. I recommend them to
          anyone in need of reliable tech support."
        </span>
      </p>
      <div class="review2-author">
        <img
          alt="image"
          src="public/Profile Icons/photo-1612636322033-f48f76c34bab-200h.jpg"
          class="review2-avatar"
        />
        <div class="review2-details">
          <h1 class="review2-author1"><span>Vijay Sharma</span></h1>
          <label class="review2-position">
            <span>Founder of Oba Cabs</span>
          </label>
        </div>
      </div>
    </main>
  </section>
</div>
