<div>
  <link href="./review1.css" rel="stylesheet" />
  <section class="review1-card">
    <div class="review1-stars">
      <svg viewBox="0 0 1024 1024" class="review1-icon">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review1-icon02">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review1-icon04">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review1-icon06">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review1-icon08">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path>
      </svg>
    </div>
    <main class="review1-content">
      <p class="review1-quote">
        <span>
          "I was hesitant to try a new tech service, but Tech Care exceeded my
          expectations. Their team was friendly, professional, and fixed my
          computer issue in no time. I will definitely be using their services
          again."
        </span>
      </p>
      <div class="review1-author">
        <img
          alt="image"
          src="public/Profile Icons/photo-1573496359142-b8d87734a5a2-200w.jpg"
          class="review1-avatar"
        />
        <div class="review1-details">
          <h1 class="review1-author1"><span>Radhika Mukherjee</span></h1>
          <label class="review1-position">
            <span>Co-founder of ShopGood</span>
          </label>
        </div>
      </div>
    </main>
  </section>
</div>
