<div>
  <link href="./review0.css" rel="stylesheet" />
  <section class="review0-card">
    <div class="review0-stars">
      <svg viewBox="0 0 1024 1024" class="review0-icon">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review0-icon02">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review0-icon04">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review0-icon06">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path></svg
      ><svg viewBox="0 0 1024 1024" class="review0-icon08">
        <path
          d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
        ></path>
      </svg>
    </div>
    <main class="review0-content">
      <p class="review0-quote">
        <span>
          “Tech Care saved my business from a major software issue that could
          have cost us thousands!”
        </span>
      </p>
      <div class="review0-author">
        <img
          alt="image"
          src="public/Profile Icons/photo-1645830166230-187caf791b90-200h.jpg"
          class="review0-avatar"
        />
        <div class="review0-details">
          <h1 class="review0-author1"><span>Yash Verma</span></h1>
          <label class="review0-position"><span>Manager</span></label>
        </div>
      </div>
    </main>
  </section>
</div>
